@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../src/fonts/dmserifdisplay-regular-webfont.woff2") format("truetype"),
    url("../src/fonts/dmserifdisplay-regular-webfont.woff") format("truetype");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../src/fonts/Karla-Regular.ttf") format("truetype"),
    url("../src/fonts/Karla-Bold.ttf") format("truetype");
}

@layer base {
  a {
    @apply inline-block font-bold;
  }

  a.button {
    @apply inline-block mt-6 px-6 py-2 border-2 border-white border-solid font-normal tracking-widest;
  }

  a.button_bottom {
    @apply inline-block  px-6 py-2 border-2 border-white border-solid font-normal relative tracking-widest;
  }

  body {
    @apply font-karla text-center text-dark_Violet mx-0 px-0;
  }

  html {
    @apply font-karla text-center text-dark_Violet mx-0 px-0;
  }

  h1 {
    @apply font-dm_Serif text-4xl xl:text-6xl xl:text-left;
  }

  h2 {
    @apply font-dm_Serif text-2xl pb-2 xl:py-10 xl:text-4xl;
  }

  li button {
    @apply inline-block mt-8 px-6 py-2 border-2 border-white border-solid font-normal xl:py-0 xl:mt-0;
  }

  p {
    @apply text-dark_Grayish_Violet xl:text-base;
  }

  section {
    @apply pt-10;
  }

  svg {
    @apply mx-0 inline-block mb-10 xl:mb-0;
  }

  svg.icons {
    @apply mx-2 my-7;
  }
}

@layer components {
  .footer {
    @apply bg-very_light_gray;
  }

  .footer a {
    @apply py-1;
  }

  .hamburgerMenuList {
    @apply bg-very_Dark_Violet text-center pr-20 pl-16 pb-10;
  }

  .hamburgerMenuList li {
    @apply text-white max-w-xs mx-auto;
  }

  .hamburgerMenuList li button {
    @apply text-white border-none block w-full tracking-widest;
  }

  .hamburgerMenuList li button:hover {
    @apply text-white  border-2 border-white border-solid font-normal;
  }

  .purple {
    @apply bg-dark_Violet text-white xl:py-10 pb-28 px-5;
  }

  .purple p {
    @apply text-white leading-8;
  }

  .help li {
    @apply font-bold text-sm tracking-widest xl:pt-3;
  }

  .help p {
    @apply font-bold text-sm tracking-widest pb-6;
  }

  .desktop_nav button {
    @apply text-dark_Grayish_Violet py-2 font-bold tracking-widest;
  }

  .desktop_nav button:hover {
    @apply border-very_Dark_Violet border-solid text-very_Dark_Violet;
  }
}
