@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../src/fonts/dmserifdisplay-regular-webfont.woff2") format("woff2"),
    url("../src/fonts/dmserifdisplay-regular-webfont.woff") format("woff");
}

@layer base {
  a {
    @apply inline-block font-bold;
  }

  a.button {
    @apply inline-block mt-8 px-6 py-2 border-2 border-white border-solid font-normal;
  }

  html {
    @apply font-karla text-center text-dark_Violet;
  }

  h1 {
    @apply font-dm_Serif text-4xl;
  }

  h2 {
    @apply font-dm_Serif text-2xl;
  }

  li button {
    @apply inline-block mt-8 px-6 py-2 border-2 border-white border-solid font-normal;
  }

  p {
    @apply text-dark_Grayish_Violet;
  }
  section {
    @apply pt-10;
  }

  svg {
    @apply mx-0 inline-block mb-10;
  }

  svg.icons {
    @apply mx-2 my-7;
  }
}

@layer components {
  .hamburgerMenuList {
    @apply bg-very_Dark_Violet text-center pr-20 pl-16 pb-10;
  }

  .hamburgerMenuList li {
    @apply text-white max-w-xs mx-auto;
  }

  .hamburgerMenuList li button {
    @apply text-white border-none block w-full;
  }

  .hamburgerMenuList li button:hover {
    @apply text-white  border-2 border-white border-solid font-normal;
  }

  .purple {
    @apply bg-dark_Violet text-white py-20 px-5;
  }

  .purple p {
    @apply text-white;
  }

  .help p,
  .help li {
    @apply font-bold text-sm tracking-widest;
  }
}
